
<!DOCTYPE html>
<html lang="en-uk">

<head> 
<title>YouTube Downloader 
</title> 
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"> 
<meta name="applicable-device" content="pc,mobile"> 

<link rel="canonical" href="https://ytdl.thekvt.tk/"/> 
<meta property="og:site_name" content="YouTube Video & AudioDownloader"/> 
<meta name="description" content=""> 
<meta name="author" content="TheKVT"> 
<meta property="og:title" content="YT DL"/> 

<meta property="og:url" content="https://ytdl.thekvt.tk"/> 
<meta property="og:type" content="website"/> 
<meta property="og:image" content=""/> 

<link rel="icon" href="https://media.discordapp.net/attachments/869939026638024704/1105309777380261938/youtube-dl.png"  type="image/png"/>
<style>
  body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

   .footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
}

.footer p {
  font-size: 14px;
  margin: 0;
  text-align: center;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #ccc;
}

</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
</head>


  <body>
    <h1>YouTube Video & Audio Downloader</h1>
   <!-- <form method="post">
      <div style='display:flex;'> 
<input type="text" id="url"style=" width: auto;" name="url" placeholder="Enter Page URL" /> 
<button type="submit" style='margin-right:6px; padding-right: 11px;padding-left: 11px;'>Go....</button>
</div>
    </form> -->
    
    <form method="POST" action="/download">
      <label for="link">Enter YouTube Link:</label>
      <input type="text" id="link" name="link">
      <button type="submit">Download</button>
    </form>
    <footer class="footer">
  <div class="container">
    <div class="row">
      <div >
        <p>Made with &#x2764
 by
        <br><b>TheKVT</b></p>
      </div>
    </div>
  </div>
</footer>

  
  </body>
</html>
